.full-screen{
    height: 100vh;
}
.page-wrapper.compact-small .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .sidebar-list .sidebar-link fa {
    margin: 0 auto;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    stroke: var(--white);
}
.quick-view .card-body{
    padding-bottom: 5px !important;
}
.quick-view .bg-success{
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}
.quick-view .bg-warning{
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}
.quick-view .txt-success{
    color: #155724 !important;
}
.quick-view .txt-warning{
    color: #856404 !important;
}
#captureLogin #showPass{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #CC0001FF;
}
#showPin, #showPassword, #showCurrentPass, #showNewPass, #showConfirmPass{
    position: absolute;
    right: 20px;
    top: 42px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #CC0001FF;
}
.theme-form input, .theme-form select, .theme-form textarea {
    background-color: rgba(204, 0, 1, 0.0588235294) !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.theme-form input:focus, .theme-form select:focus, .theme-form textarea:focus {
    box-shadow: 0 0 0 5px rgba(204, 0, 1, 0.1);
    border-color: rgba(204, 0, 1, 0.5)
}
.theme-form .form-check-input:checked {
    background-color: var(--theme-default) !important;
    border-color: var(--theme-default);
}
.accordion-item{
    margin-bottom: 10px;
}
.accordion-button{
    padding: .75rem 1.25rem;
}
#generalAccordion .accordion-header .accordion-button, #builderAccordion .accordion-header .accordion-button{
    color: var(--theme-default);
    background-color: rgba(204, 0, 1, 0.0588235294) !important;
    font-size: 1.4rem !important;
}

#generalAccordion .accordion-header .collapsed, #builderAccordion .accordion-header .collapsed{
    color: var(--bs-accordion-btn-color) !important;
    background-color: var(--bs-accordion-btn-bg) !important;
    font-size: 1.35rem !important;
}
.accordion-item, .accordion-item:last-of-type, #contentAccordion .accordion-header .accordion-button{
    border: 1px solid #dee2e6;
    border-radius: 0.375rem
}
.notification-body p, .notification-body ul li, .notification-body ol li{
    font-size: 16px;
}
#registration, #process_payment{
    background: url("../images/login_bg.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}